<!doctype html>
<html lang='es'>
<head>
    <%- include('./templates/header')%>
</head>
<body  style="background-color:rgb(255, 1, 86) ;">
<div class="container">
    <div class="card">
        <div class="card-header">
            <%- include('./templates/navbar')%>
        </div>
        <div class="card-body">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Función</div>
                <div class="card-body">
                    <h5 class="card-title">Nuestro proposito</h5>
                    <p class="card-text"> Prestamo de instrumentos musicales para diferentes activiades, como eventos y ensayos, para grupos musicales como Banda sinfonica, Picolo, Cuartetos, Trios Instrumentales, Estudiantina de cuerdas.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./templates/footer')%>
</body>
</html>
